<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Things I need to do</h1>

    <table>
        <tr>
            <td><strong>Task Name</strong></td>
        </tr>
    {% for item in items %}
        <tr>
            <td>
                {% if item.done %}
                <s>
                {% endif %}
                {{ item.name }}

                {% if item.done %}
                </s>
                {% endif %}
            </td>
            <td>
                <a href="/edit/{{ item.id }}">
                    <button >Edit Task</button>
                </a>
                
            </td>
        </tr>
        {% empty %}
        <tr>
            <td>
                No items on your To Do list!!!
            </td>
        </tr>
    {% endfor %}
    </table>

    <a href="/add">Add an Item</a>

</body>
</html>